<h1>Index of tiers</h1>

<% @tiers.each do |tier| %>
    <h4>
      <%= tier.flavor %><br>
      <%= tier.filling %><br>
      <%= tier.frosting %><br>
      <%= tier.size %> inches<br>
      </h4>
      # <%= link_to "Show", tier %>
      <%= link_to "Edit", edit_tier_path(tier) %>
      <%= link_to "Destroy", tier, method: :delete, data: { confirm: "Are you sure?" } %>
    </tr>
  <% end %>