
    <h1> Your Order </h1>

    Order Description:
    <br><%= @order.description %><br>
        
    <% @order.cakes.each do | cake | %>
    Cake Title:   <%= cake.title %><br>
    Number of Tiers: <%= cake.number_tiers %><br>
    
    
<%= link_to "Design your cake ", new_cake_tier_path(@cake) %><br>
<%= link_to "Return to orders", customer_orders_path(current_customer) %><br>
<%= link_to "Create a new order", new_customer_order_path(current_customer) %><br>
<% end %>