
<h1> Your Cake </h1>

Cake Title: <%= @cake.title%><br>
Number of Tiers: <%= @cake.number_tiers %><br>

<%= link_to "Add this Cake to Order" %><br>

<%= link_to "Edit this Cake" %><br>
<%= link_to "Delete this Cake", @cake, method: :destroy %>
