
<h3>Number of tiers: <%= @cake.tiers %></h3><br>
<h3> Flavor: <%= @cake.flavors%></h3><br>
<h3> Filling: <%= @cake.fillings%></h3><br>
<h3> Frosting: <%= @cake.frosting%></h3><br>
<h3> Size: <%= @cake.size%> inches </h3>