
<h1> Your Cake </h1>
<%= render 'cake' %>
<%= link_to "Add this Cake to Order" %><br>
<%= link_to "See more details about this cake", %>
<%= link_to "Edit this Cake" @cake, method: :patch %><br>
<%= link_to "Delete this Cake", @cake, method: :destroy %>