
<h1> Your Cake </h1>
<h2>Cake Title: <%= @cake.title %></h2><br>
<h3>Number of tiers: <%= @cake.tiers %></h3><br>
<h3> Flavor: <%= @cake.flavors%></h3><br>
<h3> Filling: <%= @cake.fillings%></h3><br>
<h3> Frosting: <%= @cake.frosting%></h3><br>
<h3> Size: <%= @cake.size%> inches </h3>
<%= link_to "Add this Cake to Order" %><br>
<%= link_to "Edit this Cake", edit_cake_path(@cake) %><br>
<%= link_to "Delete this Cake", @cake, method: :delete %>