
SHOW CAKES
<%= render 'shared/web_links' %>
<h1> Your Order </h1>

    Order Description:
    <br><%= @order.description %><br>
    
    
    <% @order.cakes.each do | cake | %>
    Cake Title:   <%= cake.title %><br>
    Number of Tiers: <%= cake.number_tiers %><br>
    
    
<%= link_to "Design your cake ", new_cake_tier_path(@order.cakes.last) %><br>

<% end %>


