

<h2>Description: <%= @order.description %></h2><br>
<%= @order.cakes.each do |cake|  %>
<h3>Cake Title: <%= cake.title %><br>
<h3>Number of Tiers:<%= cake.number_tiers %><br>


<%= submit_tag "Edit this cake, "%>
<% end %>
 