
<h3><%= "#{current_customer.username} Select the order you would like to view" %></h3>
<% @orders.each do | order | %>
Order Description: <%= order.description %><br>


<% orders.each do | order | %>
    
    

<%= link_to "See more about this order", order_cake_path(order, cake) %><br>
<br><%= link_to "Delete this order", order_path(order), method: :delete %><br>
<% end %>
<% end %>
<%= render 'shared/web_links' %>
<%= render 'shared/links' %>
