
<h3><%= "#{current_customer.username} Select the order you would like to view" %></h3>
<% @orders.each do | order | %>
<%= order.description %>


<% order.cakes.each do | cake | %>
    <%= cake.title %><br>
    <%= cake.number_tiers %><br>

<%= link_to "See more about this order", order_cake_path(order, cake) %><br>

<% end %>
<% end %>

<br><%= link_to "Create a new order", new_customer_order_path(current_customer) %><br>
<%= link_to "Logout", logout_path, method: :delete %><br>

