
<h3><%= "#{current_customer.username} Select the order you would like to view" %></h3>
<% orders.each do | order | %>
   Order Description: <%= order.description %><br>


<% @order.products.each do | product | %>
    
    Product Type: <%= product.type %><br>

<%= link_to "See more about this order", order_product_path(order, product) %><br>
<br><%= link_to "Delete this order", order_path(order), method: :delete %><br>
<% end %>
<% end %>
<%= render 'shared/web_links' %>
<%= render 'shared/links' %>
