<h1> New order </h2>
<%= form_for @order do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description, list: 'order-description' %><br><br>
    <%= link_to "Return to orders", customer_orders_path(current_customer) %><br>
    
   
    <% end %>
<%= render 'form' %>
