<h3> This order </h3>
<p>
  <strong>Order Description: </strong>
  <%= @order.description %>
</p>
    
# <h2>Cakes</h2>
# <% for cakes in @order.cakes %>
#     <ul>
#     <li><%= cake.title %></li>
#     <li><%= cake.number_tiers %></li>

#     </ul>
# <% end %>

# <%= link_to 'Edit Order', edit_order_path(@order) %> 
# <%= link_to 'Add Cake', order_cakes_path(@order) %> 
# <%= link_to 'Back', orders_path %>