<h3> This order </h3>
<%= form_for @order do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description, list: 'order-description' %><br><br>
    <%= f.submit "Update description" %>
    <% end %>

<%= render 'form' %>

<br>
<%= link_to "Return to orders", customer_orders_path(current_customer) %><br>
<%= link_to "Create a new order", new_customer_order_path(current_customer) %><br>