<h3> This order </h3>
<p>
  Order Description: 
  <%= @order.description %>

    
<h2>Cakes</h2>
<% @order.products.each do |product| %>
    <ul>
    
    Cake Title: <li><%= @order.cake.title %></li>
    Number of Tiers: <li><%= @order.cake.number_tiers %></li>

    </ul>

    <% end %>
<%= link_to 'Edit Order', edit_order_path(@order) %> 
 
<%= link_to 'Back', orders_path %>
