Description: <%= @order.description %> <br>
<%= @order.cakes.each do |cake|  %>
<h3>Cake Title: <%= cake.title %>
<h3>Number of tiers: <%= cake.tiers %><br>
<h3> Flavor: <%= cake.flavors%><br>
<h3> Filling: <%= cake.fillings%><br>
<h3> Frosting: <%= cake.frosting%><br>
<h3> Size: <%= cake.size%> inches <br></h3>
<br><%= link_to "Edit this cake" %><br>
<% end %>

<br>
<%= button_to "Delete this Order", @order, method: :delete %><br>

<%= link_to "Return to orders", customer_orders_path(current_customer) %><br>
<%= link_to "Create a new order", new_customer_order_path(current_customer) %><br>